version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports: [ "5432:5432" ]
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20

  web:
    build: .
    env_file: .env
    command: ["/app/entrypoint.sh"]
    ports: [ "8000:8000" ]
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app/backend
      - static_volume:/app/staticfiles

volumes:
  pg_data:
  static_volume:
